/* General */

*::before,
*::after,
[id ^= "vasilis-srm"],
[class^="vasilis-srm"] {
	color: limegreen !important;
	background: black;
	position: relative !important;
	display: inline-block !important;
	font-size: inherit !important;
	align-self: flex-start;
}
*::after {
	display: inline-block !important;
}

/* Inline elements */
a:not([role="button"])::before {
	content: "link, " attr(data-vasilis-srm-expo);
}
abbr[title]::after {
	content: " (" attr(title) ") " attr(data-vasilis-srm-expo);
	text-transform: capitalize;
}
button::after,
*[role="button"]::after {
	content: ", button" attr(data-vasilis-srm-expo);
}

/* Headings */
h1::before {
	content: "Heading level 1: " attr(data-vasilis-srm-expo);
}
h2::before {
	content: "Heading level 2: " attr(data-vasilis-srm-expo);
}
h3::before {
	content: "Heading level 3: " attr(data-vasilis-srm-expo);
}
h4::before {
	content: "Heading level 4: " attr(data-vasilis-srm-expo);
}
h5::before {
	content: "Heading level 5: " attr(data-vasilis-srm-expo);
}
h6::before {
	content: "Heading level 6: " attr(data-vasilis-srm-expo);
}

/* Navigation */
nav::before {
	content: "navigation. " attr(data-vasilis-srm-expo);
}

/* Lists */
li:first-child::before {
	content: "list, more than 12 items. " attr(data-vasilis-srm-expo);
	position: absolute;
	z-index: 1337;
}
li:nth-last-child(1):first-child::before {
	content: "list, 1 item. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(2):first-child::before {
	content: "list, 2 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(3):first-child::before {
	content: "list, 3 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(4):first-child::before {
	content: "list, 4 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(5):first-child::before {
	content: "list, 5 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(6):first-child::before {
	content: "list, 6 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(7):first-child::before {
	content: "list, 7 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(8):first-child::before {
	content: "list, 8 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(9):first-child::before {
	content: "list, 9 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(10):first-child::before {
	content: "list, 10 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(11):first-child::before {
	content: "list, 11 items. " attr(data-vasilis-srm-expo);
}
li:nth-last-child(12):first-child::before {
	content: "list, 12 items. " attr(data-vasilis-srm-expo);
}

#vasilis-srm-summary {
	margin: 0;
	z-index: 1337;
}